*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}

body{
    font-size: $normal-text; 
    background: $background-color;
    color: $font-color; 
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    // cursor: none; 
}

h1{
    font-size: $header-1;
    font-family: 'Abril Fatface', cursive;
}

h2{
    font-size: $header-2;
    line-height: 1.5;
    font-family: 'Abril Fatface', cursive;
    position: relative;
}

a, button, label, input, li, ul, p{
    color: $font-color; 
}

ul{
    list-style: none;
    a{
        text-decoration: none;
    }
}

button{
    border: 1px solid white; 
    background-color: transparent; 
    cursor: pointer;
}

img{
    height: 100%;
    width: 100%; 
    object-fit: cover;
}

@mixin flex($direction:auto, $justify:auto, $align:auto){
    display: flex; 
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


