.main{
    @include flex(row, space-between, center); 
    padding: 0 5%; 

    h1{
        text-decoration: underline;
    }
}

.nav-toggle{
    width: 5rem; 
    @include flex(column, center, center); 
    border: none; 
}

.nav-toggle div{
    background: white;
    width: 4rem; 
    height: .4rem;
}

.nav-toggle div:nth-child(1){
    margin-bottom: 7px; 
}


// .nav-toggle div:nth-child(1){
//     transform: translateY(5px) rotate(45deg);
// }
// .nav-toggle div:nth-child(2){
//     transform: translateY(-5px) rotate(-45deg);
// }