header.main{
    min-height: 10vh; 
    @include flex(row, space-between); 
    padding: 0 5%; 
    position: relative;
    z-index: 2;
}

h1{
    text-decoration: underline;
    position: relative;
    z-index: 4;
}

h1.active{
    color: black; 
}


// Nav bar

.nav-toggle{
    width: 5rem; 
    @include flex(column, center, center); 
    border: none; 
    position: relative;
    z-index: 4;
}

.nav-toggle.hover{
    div{
        background-color: black;
    }
}


.nav-toggle.active{
     
    div{
        background-color: black; 
    }

    & div:nth-child(1){
        transform: translateY(5px) rotate(45deg);
    }
    & div:nth-child(2){
        transform: translateY(-5px) rotate(-45deg);
    }
}

.nav-toggle div{
    background: white;
    width: 4rem; 
    height: .4rem;
    pointer-events: none;
    transition: transform .5s ease; 
}

.nav-toggle div:nth-child(1){
    margin-bottom: 7px; 
}

.nav-container{
    position: absolute; 
    top: 0; 
    left: 100%; 
    z-index: 3;
    visibility: hidden;
    height: 100vh;
    width: 100vw; 
    background: white; 
    color: black; 
    transition: all 1s ease; 
    // clip-path: circle(50px at 100% -10%); 
    @include flex(column, flex-end); 
    ul, li, a, p{ 
        color: inherit; 
    }
}

.nav-container.active{
    transform: translateX(-100%); 
    visibility: visible;
}

nav{
    padding: 0 5%; 
    min-height: 90vh; 
    @include flex(row, space-between);
    ul{
        flex:0 1 60rem; 
        @include flex(column, center, center); 
        font-size: $header-2;
        li{
            width: 60%; 
            text-align: start;
            padding: 4rem; 
        }
    }

    .nav-desc{
        flex:0 1 60rem; 
        align-self: center;
        header{
            font-size: $header-2;
            padding-bottom: 3rem; 
        }
    }
}




// Main Content Section

.body{
    padding: 0 5%; 
    @include flex(row, space-between); 
    min-height: 90vh;

}

.img-container, .content{
    flex: 0 1 60rem;   
    position:relative; 
}

.img-container{
    align-self: center;
}
.cover{
    position: absolute; 
    top:0; 
    left:0; 
    height: 100%;
    width: 100%; 
    background: $background-color; 
}

.content{
    margin-right: 10rem; 
    @include flex(column, center, flex-start);   
    p{
        margin: 3rem 0; 
    }

    button{
        height: 5rem;
        width: 10rem; 
    }
}

.forest-span{
    color: rgb(86, 124, 228); 
}

.hike-span{
    color: rgb(167, 110, 231); 
}
.fashion-span{
    color: rgb(255, 139, 93); 
}

.mouse-cursor{
    position: absolute; 
    z-index: 1;
    top: 50%; 
    left: 50%; 
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: white; 
    color: black ;
    @include flex(column, center, center); 
    pointer-events: none;
}


