* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  cursor: none;
}

h1 {
  font-size: 3.8rem;
  font-family: 'Abril Fatface', cursive;
}

h2 {
  font-size: 4.8rem;
  line-height: 1.5;
  font-family: 'Abril Fatface', cursive;
}

a, button, label, input, li, ul, p {
  color: white;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

button {
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header.main {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  padding: 0 5%;
  position: relative;
  z-index: 2;
}

h1 {
  text-decoration: underline;
  position: relative;
  z-index: 4;
}

h1.active {
  color: black;
}

.nav-toggle {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  position: relative;
  z-index: 4;
}

.nav-toggle.hover div {
  background-color: black;
}

.nav-toggle.active div {
  background-color: black;
}

.nav-toggle.active div:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

.nav-toggle.active div:nth-child(2) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
}

.nav-toggle div {
  background: white;
  width: 4rem;
  height: .4rem;
  pointer-events: none;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.nav-toggle div:nth-child(1) {
  margin-bottom: 7px;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 3;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background: white;
  color: black;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.nav-container ul, .nav-container li, .nav-container a, .nav-container p {
  color: inherit;
}

.nav-container.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  visibility: visible;
}

nav {
  padding: 0 5%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

nav ul {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60rem;
          flex: 0 1 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.8rem;
}

nav ul li {
  width: 60%;
  text-align: start;
  padding: 4rem;
}

nav .nav-desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60rem;
          flex: 0 1 60rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .nav-desc header {
  font-size: 4.8rem;
  padding-bottom: 3rem;
}

.body {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  min-height: 90vh;
}

.img-container, .content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60rem;
          flex: 0 1 60rem;
  position: relative;
}

.img-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
}

.content {
  margin-right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content p {
  margin: 3rem 0;
}

.content button {
  height: 5rem;
  width: 10rem;
}

.forest-span {
  color: #567ce4;
}

.hike-span {
  color: #a76ee7;
}

.fashion-span {
  color: #ff8b5d;
}

.mouse-cursor {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}
/*# sourceMappingURL=styles.css.map */